<div class="section-tout">
      <div class="container">

        <div class="row">
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-road" aria-hidden="true"></span> Easy Tracking </h3>
            <p>ติดตามความเคลื่อนไหว ความคืบหน้าการก่อสร้าง ประกาศต่างๆ </p>
          </div>
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-duplicate" aria-hidden="true"></span> Easy Report</h3>
            <p>ร่วมกันสร้างสรร โดยร่วมเป็นส่วนหนึ่งสำหรับการรายงานผลกระทบจากการก่อสร้าง</p>
          </div>
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span> Easy Join</h3>
            <p>สามารถร่วมร่วมเป็นส่วนหนึ่ง เพื่อพัฒนาสังคมสู่การแบ่งปัน ช่วยเหลือ</p>
          </div>
        </div>
   
         <div class="row">
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Announces</h3>
             <p>ติดตามประกาศ ผลกระทบล่าสุด</p>
          </div>
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-comment" aria-hidden="true"></span> Community </h3>
            <p>facebook:</p>
            <p>Twitter:</p>
          </div>
          <div class="col-sm-4">
            <h3><span class="glyphicon glyphicon-random" aria-hidden="true"></span> MRTA</h3>
            <p>การรถไฟฟ้าขนส่งมวลชนแห่งประเทศไทย (รฟม.)</p>
     
          </div>
        </div>

      </div>
</div>
